<section class="hero is-fullheight has-text-centered has-background-black" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div
                    class="column has-text-warning has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <b>About</b>
                    <!-- <p>{{site.author-about}}</p> -->
                    <br><br>
                    <i>My own quote: "I write my legacy in sweat and ink—one stride, one study, one dream at a time."</i>
                    <br><br>
                    <p>I am a highly driven and versatile individual, excelling in both academics and athletics. With a track record of excellence,
                    I've earned numerous trophies, medals, and awards that speak to my dedication across disciplines. As an all-rounder, I take pride in balancing
                    rigorous academic pursuits with elite-level performance on the field. Among the many sports I compete in, soccer stands out
                    as a passion and a strength—one in which I've consistently dominated, collecting a wealth of accolades and team triumphs along the way.
                    My journey is fueled by discipline, passion, and an unrelenting pursuit of excellence.

                    <br><br>
                    My success in academics and sport is fueled not just by talent, but by the habits I’ve built beyond them. Chess sharpens
                    my strategic thinking and quick decision-making, while swimming strengthens my physical endurance. These aren't just 
                    hobbies—they're integral to how I train, think, and perform. I rely on a strict daily routine to maintain that edge,
                     because when I slip, fatigue takes over. Discipline isn’t optional—it’s my foundation.

                    <br><br>
                    Over time, I’ve discovered a deep passion not only for sports 🏀🏊 but also for creative writing ✍️. I love letting
                    my imagination run wild—crafting stories and exploring ideas without the fear of being judged for how “crazy” or 
                    out-of-the-box they might be 🚀. Writing gives me the freedom to express myself in ways that feel truly authentic.
                    <br><br>
                    Lately, I’ve also found myself developing a growing appreciation for mathematics ➕➗. It's like a fascinating
                     puzzle that challenges and excites me with every problem I solve. Recently, I’ve been putting a lot of effort
                      into preparing for a major academic milestone—the Selective School Test (or SS for short) 🎯📚. It’s a big
                       challenge, but I’m feeling more motivated than ever to give it my best!</p>
                    <br>
                    <b>Recognised Achievements</b>
                    <ul>
                        <li>🏆 2022 | Bexley North Public School winter PSSA soccer boys</li>
                        <li>🏆 2023 |Overall Zone Botany Bay/Georges River Combined Cross Country</li>
                        <li>🏆 2023 | Won a golden king chess club trophy.</li>
                        <li>🏆 2022 | 2nd place ribbin-cross Country</li>
                        <li>🏆 2022 | 3rd place ribbin-cross Country</li>
                        <li>🏆 2022 | 2nd place ribbin-athletics carnival</li>
                        <li>🏆 2007 | Kyung Hee University President’s Special Prize for the Excellent Foreign Student</li>
                        <li>🏆2005 | Full Kyung Hee University and Networking Lab. Scholarships for the Master course in Kyung Hee University</li>
                    </ul>
                    <br>
                    <b>Fun Facts</b>
                    <ul>
                        <li>😊 I have successfully built a six-pack as I do <i>Git</i> workouts everyday</li>
                        <li>😊 Like it or not, I have to <i>commit</i> at work daily as a <i>Git</i> user!</li>
                        <li>😊 Even thought software development was one of my undergruadate majors but I did not fall in love with it until I got to see the DevOps beauty.</li>
                        <li>😊 I had very close competition with a guy named Lauklan.</li>
                    </ul>
                    <br>
                    <b>Personal Hobbies</b>
                    <!-- <h1 class="is-size-4-touch has-text-warning is-marginless">Personal Hobbies</h1> -->
                    <ul>
                        <li>🏊‍♂️ Swimming</li>
                        <li>⚽ Sports: Soccer, Cricket, bascketball</li>
                        <li>🧩 Board Games</li>
                        <li>⛺ Camping</li>
                        <li>🏃 Cross Country</li>
                        <li>👟 Athletics</li>
                        <li>✈️ Travel</li>
                        <li>🎥 Movies</li>
                        <li>📘 Reading</li>
                    </ul>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/resume"
                                class="button is-rounded is-uppercase has-text-weight-normal is-warning is-outlined">Resume</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/project"
                                class="button is-rounded is-uppercase has-text-weight-normal is-warning is-outlined">Projects</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
